section.yoruneko
  .yoruneko__inner
    h2.title: img(src=`${IMG_DIR}yoruneko_title.svg`)
    .moon
      .moon__shadow
      .moon__main: img(src=`${IMG_DIR}yoruneko_moon.svg`)
    .image: img(src=`${IMG_DIR}yoruneko_img01.gif`)
    .deco: img(src=`${IMG_DIR}yoruneko_deco.svg`)
    .ss SPECIAL THANKS: kazumi (Goo) / Miyu Otani (Shirasu) / Keiko Maeda (Eita,Ninnin) 
      br
      | Akira Yamaguchi (Pancho,Gabacho) / Akira Tani (Chai,Cacao) / Tomoko Toyoda (Dorachiyo,Neneko,Katsuwo)
    .lead 飼い主だけが知る夜のネコ「ヨルネコ」。
      br
      | あの11匹の、知られざる姿。
  //- button.trigger: span VIEW MORE