@use 'sass:math';
@use 'easings' as *;

// responsive
$baseWidth-pc : 1280;
@function vw_pc($PixelsVw-pc) {
  @return calc( $PixelsVw-pc / $baseWidth-pc ) * 100vw;
}

$baseWidth-sp : 750;
@function vw($PixelsVw-sp) {
  @return calc( $PixelsVw-sp / $baseWidth-sp ) * 100vw;
}

$ratio: 0.75px;
@function ratio($value: 0){
  @return $ratio * $value
};

$BREAKPOINT: 768px;
