-
  const main = {
    lead: 'ネコを愛する気持ちでつながる<br>Ornekoとstudio CLIPの初のコラボレーション、<br>「Orneko BY CLIP」できました。'
  }

  const contents = [
    {
      title: 'ITEM LIST (side-A)',
      desc: 'ネコを愛するすべてのひとたちへ',
      url: 'https://www.dot-st.com/studioclip/cp/orneko_lineup',
    },
    {
      title: 'ITEM LIST (side-B)',
      desc: 'いつかネコと暮らしたいと夢見ている方へ',
      url: 'https://www.dot-st.com/studioclip/cp/orneko_notcat',
    },
    {
      title: 'LOOKBOOK',
      desc: '１匹のネコを飼う彼女と<br>いつかネコを飼う彼女、<br>２人の愛おしいストーリー',
      url: 'https://www.dot-st.com/studioclip/cp/orneko_lookbook',
    },
  ]

  const modal = [
    {
      name: 'kazumi',
      en: 'GOO',      
      cats: [
        { name: 'グー', age:'２歳 ♀' },
      ],
      owner:'kazumiさん',
      job:'モデル',
      comment: 'kazumiさんが運命の出会いを果たした元保護猫のグー。穏やかな性格ですが、夜の習慣は階段を猛ダッシュすること！',
      insta:'@kazumi0728',
      url:'https://www.instagram.com/p/C-rmwxAhkQ9/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=='
    },
    {
      name: 'otani',
      en: 'SHIRASU',      
      cats: [
        { name: 'しらす', age:'９歳 ♂' },
      ],
      owner:'小谷実由さん',
      job:'モデル',
      comment: 'しらすはいつでも舌がぺろりと出ているところがチャームポイント。飼い主が寝室に向かう時間に一旦起きてくれる愛情深い一面も。',
      insta:'@omiyuno',
      url:'https://www.instagram.com/p/C-rcLLByYz2/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=='
    },
    {
      name: 'maeda',
      en: 'EITA/NINNIN',      
      cats: [
        { name: 'えいた', age:'14歳 ♂' },
        { name: 'にんにん', age:'9歳 ♀' },
      ],
      owner:'前田敬子さん',
      job:'LOISIRデザイナー',
      comment: '元保護猫のえいたと、元野良猫のにんにん。見た目も性格も違う２匹は、22時ごろになるとともに家中を走り回ってから、就寝。',
      insta:'@ytrpics',
      url:'https://www.instagram.com/p/C-sdZtkPAzo/?utm_source=ig_web_copy_link&igsh=MzRlODBiNWFlZA=='
    },
    {
      name: 'yamaguchi',
      en: 'Pancho/Gabacho',      
      cats: [
        { name: 'パンチョ', age:'15歳 ♂' },
        { name: 'ガバチョ', age:'９歳 ♂' },
      ],
      owner:'山口明さん',
      job:'フォトグラファー',
      comment: '元保護猫のパンチョとガバチョは２匹とも甘えん坊。じっとそばにいて、無言で撫でてアピールするパンチョと、鳴きながら頭を擦りつけて撫でてと訴えるガバチョ。性格的には真逆な２匹！',
      insta:'@pancho0002',
      url:'https://www.instagram.com/pancho0002/'
    },
    {
      name: 'tani',
      en: 'Chai/Cacao',      
      cats: [
        { name: 'チャイ', age:'６歳 ♂' },
        { name: 'カカオ', age:'９歳 ♂' },
      ],
      owner:'谷あきらさん',
      job:'オルネ ド フォイユ代表',
      comment: '人懐っこいチャイと警戒心が強く、人前には出て来ないカカオ。早朝４時頃にごはんのおねだりにやってくる２匹のおかげで、谷さんはいつも寝不足なのだとか！',
      insta:'@tani_akira',
      url:'https://www.instagram.com/tani_akira/'
    },
    {
      name: 'toyoda',
      en: 'Dorachiyo/Neneko/Katsuwo',      
      cats: [
        { name: 'ドラ千代', age:'９歳 ♂' },
        { name: 'ねね子', age:'８歳 ♀' },
        { name: 'カツヲ', age:'４歳 ♂' },
      ],
      owner:'豊田知子さん',
      job:'オルネコ部員',
      comment: '豊田家は個性豊かな３匹が暮らす、にぎやかな大家族。長男・ドラ千代はがっちりしたボディにピンクのお鼻がチャームポイント。人懐っこくて、ケリケリ大好きな長女・ねね子。末っ子のカツヲは超食いしん坊で、お尻トントンが好き。',
      insta:'@dora_me0416',
      url:'https://www.instagram.com/dora_me0416/'
    },
  ]

  const about = [
    {
      class : 'ornekobyclip',
      logo : 'logo_ornekobyclip.svg',
      text: 'ネコを愛する気持ちでつながったOrnekoとstudio CLIPが初めてのコラボレーション。Ornekoおなじみのイラストプリントから、ちょっとレトロなアンティーク風まで、ネコ好きの心をくすぐるアイテムは、１点お買い上げごとに10円、動物の幸せのために活動する公益社団法人アニマル・ドネーションに寄付されます。',
      links: [
        { text: 'スタディオクリップの犬猫基金', url: 'https://www.dot-st.com/studioclip/cp/fund/', }
      ]
    },
    {
      class : 'orneko',
      logo : 'logo_orneko.svg',
      text: 'インテリアショップOrne de feuilles（オルネ ド フォイユ）が手がけるネコアイテムブランド。ネコを飼っているネコ好きのスタッフが「こんなのあったらいいな！」と作ったオリジナルのネコ用アイテムや、ネコモチーフの雑貨がそろいます。かわいいネコがたくさん見られるウェブサイトも人気。',
      links: [
        { text: 'Orneko公式サイト', url: 'https://www.ornedefeuilles.com/pages/orneko', }
      ]
    },
  ]

  const homeUrl = 'https://www.dot-st.com/studioclip/'

  const footer = {
    links: [
      {
        name: 'ONLINE SHOP',
        url: 'https://www.dot-st.com/studioclip/'
      },
      {
        name: 'STAFF BOAD',
        url: 'https://www.dot-st.com/cp/sb-style/?sort=time&amp;label=0000000021'
      },
      {
        name: 'SHOP LIST',
        url: 'https://www.dot-st.com/studioclip/info/storelist/'
      },
      {
        name: 'INSTAGRAM',
        url: 'https://www.instagram.com/studioclip/'
      },
    ],
    copyright: '© studio CLIP All Rights Reserved.'
  }